@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 10vh;
    background-color: #23abff;
    box-shadow: 1px 1px 10px #cfd8dc;
}

.nav-picture {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}
