@import url('https://fonts.googleapis.com/css?family=Roboto');

.eventpage-container {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
}

.event-host-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 30%;
    width: 30%;
    left: 2%;
    top: 15%;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 8px #cfd8dc;
}

.host-title {
    display: flex;
    justify-content: space-around;
}

.host-title > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.host-img-container {
    display: flex;
    justify-content: space-around;
}

.host-img-container > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.host-name-container {
    display: flex;
    justify-content: space-around;
}

.host-name-container > h1 {
    font-family: 'Roboto', sans-serif;
    color: #23abff;
    font-size: 20px;
}


.weather-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background: white; */
    height: 15%;
    width: 30%;
    /* top: 47%;
    left: 2%; */
    top: 25%;
    right: 5%;
    /* border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 8px #cfd8dc; */
}


.icon-container {
    display: flex;
    justify-content: space-around;
}

.icon-container > img {
    height: 75px;
    width: 75px;
}

.temp-container {
    display: flex;
    justify-content: space-around;
}

.temp-container > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.city-name-container {
    display: flex;
    justify-content: space-around;
}

.city-name-container > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.city-container-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.event-info-container {
    position: fixed;
    right: 5%;
    top: 15%;
    width: 60%;
    height: 45%;
    display: flex;
    flex-direction: column;
}

.event-info-container > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.event-info-container > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 5%;
    color:  #23abff;
}

.event-info-container > h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 3%;
    color: #23abff;
}

.event-info-container > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 3%;
    line-height: 1.2;
}

.attendees-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 32.3%;
    height: 45%;
    left: 1%;
    bottom: 1%;
    overflow: scroll;
    
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.attend-btn-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 10%;
    top: 14%;
    right: 7%;
}

.attending-container {
    display: flex;
    justify-content: space-around;
}

.attending-container {
    font-family: 'Roboto', sans-serif;
}

.attend-event-btn-container {
    display: flex;
    justify-content: space-around;
}

.attend-event-btn-container > button {
    background-color: #23baff;
        border: none;
        border-radius: 2px 2px 2px 2px;
        outline: none;
        color: white;
        padding: 12px 29px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;   
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-shadow: 0 4px #cfd8dc;
}

.attend-event-btn-container > button :hover {
    background-color: #03a9f4;
}

.attend-event-btn-container > button :active {
    background-color: #03a9f4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.you-are-attending-container {
    display: flex;
    justify-content: space-around;
}

.you-are-attending-container > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #23abff;
}

.update-container {
    position: fixed;
    z-index: 2;
    top: 17%;
    left: 4%;
}

.update-container > a > button {
    background-color: #23baff;
        border: none;
        border-radius: 2px 2px 2px 2px;
        outline: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;   
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-shadow: 0 4px #cfd8dc;
}

.attending-title {
    position: fixed;
    display: flex;
    align-items: center;
    top: 50%;
    left: 2%;
}

.attending-title > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #9e9e9e;
}

.chat-btn-container {
    position: fixed;
    bottom: 5%;
    right: 6%;
    width: 5%;
    height: 5%;
    z-index: 3;
}

.chat-btn-container > button {
    background-color: #23baff;
    border: none;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    color: white;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;   
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.chat-box-container {
    position: fixed;
    width: 35%;
    height: 34%;
    background: white;;
    bottom: 5%;
    right: 6%;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 8px #cfd8dc;
    animation-name: increase;
    animation-duration: .15s;
}

.chat-box-title-container {
    display: flex;
    justify-content: space-around;
    background-color: #23abff;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.chat-box-title-container > h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.chat-box-message-container {
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

.chat-box-input-container {
    width: 100%;
    height: 5vh;
    display: flex;
}

.chat-box-input-container > input {
    width: 72%;
}

.chat-box-input-container > button {
    background-color: black;
    border: none;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.chat-message-container {
    width: 35vw;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.chat-message-container > h1 {
    font-size: 20px;
    color: #23abff;
    margin-left: 3%;
}

.chat-message-container > p {
    font-size: 15px;
    margin-left: 5%;
}


/* -- Animations -- */
@keyframes increase{
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 16%;
        height: 17%;
    }
    100% {
        width: 35%;
        height: 34%;
    }
}